@model IEnumerable<E16028Proj.Models.spArtists_Search_Result>

@{
    ViewBag.Title = "Index";
}

<hr />

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.X)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.X)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>

</tr>
    }
</table>