@model IEnumerable<E16028Proj.Models.spGenre_Search_Result>

@{
    ViewBag.Title = "Index";
}

<hr />

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.X)
            </td>
        </tr>
    }
</table>
