@{
    ViewBag.Title = "Create";
}


<form action="/spTrack_Search/Index" method="post">

    <div class="form-horizontal">
        <h4>Top Tracks</h4>
        <hr />

        <div class="form-group">
            <label for="time1" class="control-label col-md-2">From(date and time)</label>
            <div class="col-md-10">
                <input id="time1" type="datetime" name="time1" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="time2" class="control-label col-md-2">To(date and time)</label>
            <div class="col-md-10">
                <input id="time2" type="datetime" name="time2" class="form-control" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
