USE [Chinook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spInvoice_Search] @cusName Varchar(50), @empName Varchar(50), @time1 datetime ,@time2 datetime
	
as 
begin
	set nocount on;
	Select Customer.FirstName as CustomerFirstName, Customer.LastName as CustomerLastName, Employee.FirstName as EmployeeFirstName, Employee.LastName as EmployeeLastName, Invoice.InvoiceDate, Invoice.InvoiceId
	from Invoice, InvoiceLine, Employee, Customer
	Where (Customer.FirstName like @cusName) and Customer.SupportRepId like Employee.EmployeeId and Invoice.CustomerId like Customer.CustomerId or (Employee.FirstName like @empName) and Customer.SupportRepId like Employee.EmployeeId and Invoice.CustomerId like Customer.CustomerId or Invoice.InvoiceDate between (@time1) and (@time2)
	Group by Invoice.InvoiceId, Customer.FirstName, Customer.LastName, Employee.FirstName, Employee.LastName, Invoice.InvoiceDate
	Order by Invoice.InvoiceId asc

end