USE [Chinook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spInvStat_Search] 
	
as 
begin
DROP TABLE IF EXISTS InvoiceStatistics;

SELECT Genre.GenreId ,InvoiceLine.TrackId, (InvoiceLine.Quantity*InvoiceLine.UnitPrice) as TotalTrackCharge, Invoice.InvoiceDate as TimeCreated
Into InvoiceStatistics
from InvoiceLine,Invoice, Genre, Track
where Invoice.InvoiceId like InvoiceLine.InvoiceId and Track.TrackId like InvoiceLine.TrackId and Genre.GenreId like Track.GenreId
group by Genre.GenreId, InvoiceLine.TrackId, InvoiceDate,(InvoiceLine.Quantity*InvoiceLine.UnitPrice) 
order by TrackId asc

SELECT [GenreId]
      ,[TrackId]
      ,[TotalTrackCharge]
      ,[TimeCreated]
  FROM [Chinook].[dbo].[InvoiceStatistics]
end