USE [Chinook]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spCustomer_Search] @time1 datetime ,@time2 datetime
	
as 
begin
	set nocount on;
	select SUM(cast([InvoiceLine].UnitPrice*[InvoiceLine].Quantity as bigint))as X, Customer.CustomerID, Invoice.BillingAddress, Invoice.BillingCity, Invoice.BillingCountry, Invoice.BillingPostalCode, Invoice.BillingState from [InvoiceLine],Invoice,Customer
	Where Customer.CustomerId like Invoice.CustomerId and InvoiceDate between (@time1) and (@time2) 
	Group by Customer.CustomerID, Invoice.BillingAddress, Invoice.BillingCity, Invoice.BillingCountry, Invoice.BillingPostalCode, Invoice.BillingState
	Order by X desc
end