USE [Chinook]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spGenre_Search] 
	
as 
begin
	set nocount on;
	Select Genre.Name, SUM(InvoiceLine.Quantity) as X
	from InvoiceLine,Track,Genre
	Where (Track.TrackId like InvoiceLine.TrackId and Track.GenreId like Genre.GenreId)
	Group by Genre.Name, InvoiceLine.Quantity
	Order by SUM(InvoiceLine.Quantity) desc

end