USE [Chinook]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spArtists_Search] @Quant integer, @time1 datetime ,@time2 datetime
	
as 
begin
	set nocount on;
	Select top (@Quant) SUM(InvoiceLine.Quantity) as X, Artist.Name
	from Album,Artist,InvoiceLine,Track,Invoice
	Where (Artist.ArtistId like Album.ArtistId) and Album.AlbumId like Track.AlbumId and Track.TrackId like InvoiceLine.TrackId and Invoice.InvoiceDate between (@time1) and (@time2)
	Group by Artist.Name, InvoiceLine.Quantity
	Order by SUM(InvoiceLine.Quantity) desc

end