USE [Chinook]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spTrack_Search] @time1 datetime ,@time2 datetime
	
as 
begin
	set nocount on;
	Select top 10 sum(InvoiceLine.Quantity) as X, Track.Name 
	from InvoiceLine,Track,Invoice
	Where (Track.TrackId like InvoiceLine.TrackId and Invoice.InvoiceDate between (@time1) and (@time2))
	Group by Track.Name, InvoiceLine.Quantity, Track.TrackId
	Order by SUM(InvoiceLine.Quantity) desc

end