USE [Chinook]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spMonthTrack_Search] @year int 
	
as 
begin
	set nocount on;
	Select top 10000 Track.Name as TrackName, Artist.Name as ArtistName, YEAR(Invoice.InvoiceDate) as Year, DATEPART(Quarter, Invoice.InvoiceDate) as quarter,SUM(InvoiceLine.Quantity*InvoiceLine.UnitPrice) as X
	from InvoiceLine,Track,Invoice, Artist
	Where YEAR(Invoice.InvoiceDate) = @year and Track.TrackId = InvoiceLine.TrackId 
	Group by Track.Name, Artist.Name, YEAR(Invoice.InvoiceDate), DATEPART(Quarter, Invoice.InvoiceDate)
	Order by Artist.Name asc

end